.show {
  width: 100%;
  border-bottom: 0.1rem solid #ccc;
  display: flex;

  &__img {
    height: 20vh;
    margin: 2rem;
  }

  &__title {
    align-self: center;
    font-size: 3rem;
  }

  &__button {
    background-color: transparent;
    border-color: orangered;
    height: 5vh;
    align-self: center;
    cursor: pointer;
  }

  &__icon {
    color: #ccc;
    font-size: 4rem;
  }
}
